// global style btns

.email__section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: $bp-largest) {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
    height: 20rem;
  }

  &__btn {
    width: 20%;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    @media only screen and (max-width: $bp-largest) {
      min-width: 70%;
    }
    @media only screen and (max-width: $bp-small) {
      min-width: 100%;
    }
  }

  &__cont {
    &__btn {
      justify-content: space-around !important;
      margin: 0 1rem;
      width: 25%;
      min-width: 16rem;
      @media only screen and (max-width: $bp-medium) {
        justify-self: start;
        min-width: 15rem;
        width: 80%;
        margin: 0;
      }

      &__icon-bin {
        width: 1.3rem;
        height: 1.7rem;
      }
    }
  }

  &__form {
    justify-content: center !important;
    &__input {
      background-color: #f6f6f6;
      border: solid 1px #d5d5d5;
      border-radius: 4px;
      margin: 0 2.5rem;
      padding: 0.8rem 2rem;
      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    &__btn {
      background-color: $color-primary !important;
      color: white;
      width: 15%;

      @media only screen and (max-width: $bp-medium) {
        width: 70%;
        justify-self: center;
      }
    }
  }
}

.email__section__btn,
.email__section__cont__btn,
.email__section__form__btn {
  padding: 1rem;
  border-radius: 4px;
  align-items: center;
  border: 1px solid #d5d5d5;
  background-color: #f6f6f6;
  font-family: $font-primary;
  // min-width: 30.7rem;
}

.email__section__btn,
.email__section__cont__btn {
  display: flex;
  justify-content: space-between;
}

.email__section__cont,
.email__section__form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%;

  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.email__section__cont__text,
.email__section__form__text {
  font-size: 1.8rem;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/ -1;
  }
}

.email__section__icon,
.email__section__cont__btn__icon {
  width: 1.2rem;
  height: 0.7rem;
}

.main {
  width: 90%;
  margin: 5rem auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media only screen and (max-width: $bp-small) {
    width: 95%;
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
  }
  &__side__bar {
    width: 20%;
    min-width: 21rem;
    margin-right: auto;

    &__text {
      width: 100%;
      background-color: $color-primary;
      color: white;
      font-size: 3rem;
      padding: 1rem 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
    }

    &__gender {
      &__cont,
      .ethnicity__cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 3rem;
        @media only screen and (max-width: $bp-largest) {
          padding-left: 1.5rem;
          padding-right: 0;
          padding-bottom: 0;
          padding-top: 1.5rem;
        }
      }
    }
    &__gender,
    &__ethnicity,
    &__age {
      // display: flex;
      // flex-direction: column;
      background-color: #f6f6f6;
      border: solid 1px #d5d5d5;
      margin-bottom: 2rem;
    }

    .ethnicity__cont,
    .age__cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1rem 3rem;
      margin-top: 1rem;
      @media only screen and (max-width: $bp-largest) {
        padding-left: 1.5rem;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 1.5rem;
      }
    }
  }

  &__gallery {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    row-gap: 3rem;
    justify-items: center;
    &__img {
      display: block;
      height: 20rem;
      width: 17rem;
    }
  }
}
